


.dropbtn {
    color: #FFD700;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Trebuchet MS', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

    .dropdown-content a {
        color: #FFD700;
        padding: 10px 16px;
        display: block;
        text-decoration: none;
    }

        .dropdown-content a:hover {
            background-color: #444;
        }
