body {
    margin: 2.88%;
    background-color: #2b2b33;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

/* BRUG RESPONSIVE ENHEDER */
.top-menu {
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    border-radius: 2rem;
    background-color: #1e1e26;
    opacity: 90%;
    max-width: fit-content;
    margin: 0 auto;
}

.menu-content {
    display: flex;
    gap: 2rem; /* afstand mellem links */
    align-items: center;
    border-radius: 2rem;
    padding-inline: 1.5rem; /* ekstra luft på siderne fra ydre menu items */
}

    .menu-content a {
        color: #FFD700;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.06em;
        transition: all 0.3s ease;
    }

        .menu-content a:hover {
            color: #ffffff;
            border-radius: 2rem;
            padding: 0.5rem;
            background-color: dimgray;
        }

.top-menu .store-button {
    background-color: #FFD700;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 18px;
}


.menu-content .store-button:hover {
    background-color: #FFD700;
    padding: 10px 25px;
    color: #ffffff;
}


/* RESPONSIV DESIGN */

/* PHONE SCREENS */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 0 5px;
    }
}