body {
    margin: 0;
    background-color: #1e1e26;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.top-menu {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #1e1e26;
}

.menu-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

    .menu-content a {
        color: #FFD700;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

        .menu-content a:hover {
            color: #ffffff;
        }

.store-button {
    background-color: #FFD700;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .store-button:hover {
        background-color: #FFC300;
        color: #ffffff;
    }

