<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] TinyEarth</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/dropdown.css" />
    <script defer src="~/js/dropdown.js"></script>

</head>
<body>

    <!--MENU-->
    <div class="top-menu">
        <nav class="menu-content">
            <a asp-controller="Home" asp-action="Home">HOME</a>
            <a asp-controller="Home" asp-action="Media">MEDIA</a>
            <a asp-controller="Home" asp-action="Vote">VOTE</a>
            <!--<a class="top-menu store-button" asp-controller="Store" asp-action="Index">STORE</a>-->
            <a href="https://shop.tiny-earth.com/" class="top-menu store-button">STORE</a>
            <a asp-controller="Home" asp-action="Rules">RULES</a>

            <!-- DROPDOWN -->
            <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown()">MORE ▼</button>
                <div id="dropdown-content" class="dropdown-content">
                    <a asp-controller="Stats" asp-action="Stats">Stats</a>
                    <a asp-controller="Home" asp-action="Safety">Safety</a>
                </div>
            </div>
        </nav>
    </div>



    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


 


</body>
</html>
