@model TinyEarth.Models.PlayerData

<h2>Player Details</h2>

<table>
    <tr><th>Name</th><td>@Model.NameHtml</td></tr>
    <tr><th>Session Count</th><td>@Model.Sessions</td></tr>
    <tr><th>Kills</th><td>   </td></tr>
</table>

<a href="@Url.Action("Index", "Stats")">← Back to Search</a>
