
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.parent-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}


.div2 {
    grid-row: span 3 / span 3;
}


.grid-container {
    display: grid;
    grid-template-areas:
        "playercounter menu discord"
        "content mainContent content";
    grid-template-columns: 200px 1fr 200px;
    grid-gap: 20px;
    padding: 20px;
}

.playercounter {
    grid-area: playercounter;
}

.menu {
    grid-area: menu;
}

.discord {
    grid-area: discord;
}

.content {
    grid-area: content;
}

.mainContent {
    grid-area: mainContent;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "menu"
            "playercounter"
            "discord"
            "content";
        grid-template-columns: 1fr;
    }
}